.ml-auto,.mx-auto{
    margin-left:auto !important; 
}
.mr-auto,.mx-auto{
    margin-right: auto !important;
}
.m-auto{
    margin: auto !important;
}
.nav-fixed-top{
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius: 0;
}
.disblock{
    display: block;
}
.nav-tab ul li a{color: white;}